TaskFlowTest/Service References/IPSPServices/DataEntities.TaskFlowData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataEntities.TaskFlowData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataEntities.TaskFlowData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTFAgencyNum">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TFAgencyNum" nillable="true" type="tns:TFAgencyNum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTFAgencyNum" nillable="true" type="tns:ArrayOfTFAgencyNum" />
  <xs:complexType name="TFAgencyNum">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientNum" type="xs:int" />
      <xs:element minOccurs="0" name="DeptName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndNum" type="xs:int" />
      <xs:element minOccurs="0" name="Executor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FStateNum" type="xs:int" />
      <xs:element minOccurs="0" name="InternalNum" type="xs:int" />
      <xs:element minOccurs="0" name="PStateNum" type="xs:int" />
      <xs:element minOccurs="0" name="s_RelatedInfo1" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TFAgencyNum" nillable="true" type="tns:TFAgencyNum" />
</xs:schema>