TaskFlowTest/Service References/IPSPServices/Server.DataContracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OperationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="bOperationResult" type="xs:boolean" />
      <xs:element minOccurs="0" name="sOperationMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sOperationReturnObject" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationInfo" nillable="true" type="tns:OperationInfo" />
  <xs:complexType name="UpdateInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="EleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EleType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateInfo" nillable="true" type="tns:UpdateInfo" />
  <xs:complexType name="LifeCycleInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="sClientVersion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LifeCycleInfo" nillable="true" type="tns:LifeCycleInfo" />
</xs:schema>